@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h1{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #444;
}


.flex-container{
    display: flex !important;
    flex-direction: column;
    width: 100%;
}
.flex-container-row{
    display: flex !important;
    margin: 20px 00px;
}